body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}
.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 200px; 
    max-width: 100%;
}
.business-card {
    width: 300px; 
    background-color: #FFFDD0;
    padding: 20px;
    margin-top: 100px; 
}

.business-card *{
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-bottom: 5px;
}

a {
    color: black;
    text-decoration: none;
}