body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}
.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 200px; 
    max-width: 100%;
    display: block; 
    margin: 0 auto;
}
.business-card {
    width: 300px; 
    background-color: #FFFDD0;
    padding: 20px;
    margin-top: 100px;  
    margin-left: auto;
    margin-right: auto;
}

.business-card *{
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.full-name {
    font-weight: bold;
}

.designation {
    font-style: italic;
}

.company{
    color: lightgreen;
    font-weight: bolder;
}

p {
    margin-bottom: 5px;
}

a {
    color: black;
    text-decoration: none; 
    display: inline-block;
    padding-right: 10px;
}

.portfolio-link{
    color: lightgreen;
    position: relative;
    display: inline-block;
}

.portfolio-link::after,
.portfolio-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.portfolio-link::before {
  top: -5px;
  transform-origin: left;
}

.portfolio-link:hover::after,
.portfolio-link:hover::before {
  transform: scaleX(1);
}